<article class="post">
  <h1><a href="{{ include.post.url }}">{{ include.post.title }}</a></h1>

  <p class="authors">
    {% for author in include.post.authors %}
      <img loading="lazy" width=30 height=30 src="{{ author | avatar_url: width:30, height:30 }}">
    {% endfor %}

    <span>
      By {{ include.post.authors | array_to_sentence_string }}
      on {{ include.post.date | date_to_long_string: "ordinal" }}
      {% assign count = include.post.cities | size %}
      <wbr>in {% if count > 1 %}{{ include.post.country }}{% else %}{{ include.post.cities[0] }}{% endif %}
    </span>
  </p>

  {% if include.featured_image and include.post.featured_image %}
    <a class="featured-image" href="{{ include.post.url }}">
      <img loading="lazy" class="image thumbnail" width=250 height=250 src="{{ include.post.featured_image | photo_url: width: 250, height: 250 }}">
    </a>
  {% endif %}

  <section class="content">
  {% if include.summary %}
    <p>{{ post.summary }}..</p>

    <a class="read-more" href="{{ include.post.url }}">Read More</a>
  {% else %}
    {{ include.post.content }}
  {% endif %}
  </section>
</article>
