<article class="post">
  <h1><a href="{{ include.post.url }}">{{ include.post.title }}</a></h1>

  <p class="author">
    <img loading="lazy" width=30 height=30 src="{{ include.post.author | avatar_url: width:30, height:30 }}">By {{ include.post.author }} on {{ include.post.date | date_to_string }} in {{ include.post.location }}
  </p>

  {% if include.featured_image && include.post.featured_image %}
    <a class="featured-image" href="{{ include.post.url }}">
      <img loading="lazy" class="image thumbnail" width=250 height=250 src="{{ include.post.featured_image | photo_url: width: 250, height: 250 }}">
    </a>
  {% endif %}

  <section class="content">
  {% if include.summary %}
    <p>{{ post.summary }}..</p>

    <a class="read-more" href="{{ include.post.url }}">Read More</a>
  {% else %}
    {{ include.post.content }}
  {% endif %}
  </section>
</article>
