<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/assets/css/normalise.css?v={{ site.time | date: '%s' }}">
  <link rel="stylesheet" href="/assets/css/main.css?v={{ site.time | date: '%s' }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E🗺%3C/text%3E%3C/svg%3E" type="image/svg+xml">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
</head>

<body>
  {% include header.liquid %}

  <main id="content" class="container{% if page.width == "full" %} full-width{% endif %}">
    {{ content }}
  </main>

  {% include footer.liquid %}

  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0e7be7213df44c7fa9f1a82f69a26547"}'></script>
